<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjy.mapper.CheckboxAnswerCountMapper">
    <resultMap id="BaseResultMap" type="com.wjy.pojo.CheckboxAnswerCount">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="checkbox_answer_count_id" jdbcType="VARCHAR" property="checkboxAnswerCountId"/>
        <result column="checkbox_answer_count" jdbcType="INTEGER" property="checkboxAnswerCount"/>
        <result column="design_checkbox_option_id" jdbcType="VARCHAR" property="designCheckboxOptionId"/>
    </resultMap>
</mapper>