<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjy.mapper.DesignSingleOptionMapper">
    <resultMap id="BaseResultMap" type="com.wjy.pojo.DesignSingleOption">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="design_single_option_id" jdbcType="VARCHAR" property="designSingleOptionId"/>
        <result column="design_single_id" jdbcType="VARCHAR" property="designSingleId"/>
        <result column="design_single_order" jdbcType="INTEGER" property="designSingleOrder"/>
        <result column="design_single_option_content" jdbcType="VARCHAR" property="designSingleOptionContent"/>
    </resultMap>
    <resultMap id="BaseResultMap" type="com.wjy.pojo.DesignSingleOption">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="design_single_option_id" jdbcType="VARCHAR" property="designSingleOptionId"/>
        <result column="design_single_id" jdbcType="VARCHAR" property="designSingleId"/>
        <result column="design_single_order" jdbcType="INTEGER" property="designSingleOrder"/>
        <result column="design_single_option_content" jdbcType="VARCHAR" property="designSingleOptionContent"/>
    </resultMap>
</mapper>